# ==========================================
# Application Config
# ==========================================
APP_PORT=3000
APP_VERSION="1.0.0"
APP_NAME="Ruppert API"

# ==========================================
# PostgreSQL Config
# ==========================================
POSTGRES_DB=ruppert
POSTGRES_USER=ruppert

POSTGRES_PORT=5432
POSTGRES_HOST=localhost

POSTGRES_PASSWORD=
POSTGRES_URL="postgres://username:password@localhost:5432/ruppert"

# ==========================================
# Security Config
# ==========================================
SECRET_KEY="sample_secret_key"
CORS_ORIGIN="http://localhost:5173,http://localhost:3000"
